
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white; 
}

.heading {
    font-size: 25px;
    font-stretch: ultra-condensed;
    font-weight: 800;
    margin: 10px;
}

.mdtxt {
    font-size: 20px;
    margin: 0 0 0 10px;
    font-weight: 600;
}

.smtxt {
    font-size: 14px;
    margin: 0 0 0 20px ;
    font-weight: 500;
    color: rgb(89, 93, 96);
    
}

.smtxt:last-child {
    margin-bottom: 10px;
}

.show-more {  
    font-size: 18px;
    margin: 10px 0 5px 15px;
    font-weight: 500;
    color: rgb(29, 155, 240);
    cursor: pointer;
    text-decoration: none;
}

.show-more2 {  
    font-size: 18px;
    margin: 10px 0 10px 25px;
    font-weight: 500;
    color: rgb(29, 155, 240);
    cursor: pointer;
    text-decoration: none;
}

.mainbody {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.home { 
    background-color: black;
    width: 31vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
    padding-left: 11vw;
    border-right: 1px solid grey;
}

.tweets {
    background-color: black;
    width: 60vw;
    height: 100vh;
    margin-left: 30vw; 
    overflow: hidden;
}

.feed {
    background-color: black;
    width: 69vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    padding-left: 40px;
    overflow-y: scroll;
}

.category-section {
    overflow: hidden;
}

.category {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 8px 0 8px;
    font-size: 23px;
    font-weight: 500; 
}

.category-text {
    width: fit-content;
    border-radius: 25px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin:  0 0 20px 0 ;
    padding: 0 15px 0 5px;
}

.category-text:hover {
    background-color: #181818;
}

.icon {
    height: 35px;
    width: 35px;
    margin: 10px 15px 10px 10px;
}

.xicon{
    height: 35px;
    width: 35px;
    margin: 10px 1px 10px 10px;
}

.xicon:hover{
    background-color: #181818;
}

 

.twitter-button { 
    height: 60px;
    width: 270px;
    background-color: #1DA1F2; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 30px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: 700;
    margin-left: 20px;
}

.icon-test{
    width: fit-content;
    border-radius: 20px;
}

.icon-test:hover{
    background-color: #71767b;

}

.twitter-button:hover {
    background-color: #0d8ddb; 
}

.test {
    margin: 0 0 0 100px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-left: 10px;
    padding: 10px 170px 10px 10px;
    border: none; 
    cursor: pointer; 
    border-radius: 25px; 
    transition: background-color 0.3s;
    width: fit-content;
}

.profile-container:hover {
    background-color: rgb(55, 58, 60);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.profile-username {
    color: #888;
}

.search-container {
    padding: 6px 0 0 0 ;
    height: 50px;
    background-color: #000000;
    position: fixed; 
}

.search-box {
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(32, 35, 39);
    display: flex;
    align-items: center;
}

.search-box input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ccc;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

.search-box input::placeholder {
    color: #777;
}

.search-icon{
    background-color: #202327;
    height: 25px;
    width: 25px;
}

.premium {
    margin: 70px 0 0 0;
    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid rgb(47, 51, 54);
}

.premium-text {
    width: 360px;
    font-size: medium;
    line-height: 25px;
    margin: 0 10px 10px 20px;
}

.twitter-subscribe-button{
    height: 40px;
    width: fit-content;
    background-color: #1DA1F2; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 17px; 
    border-radius: 25px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: 900;
    margin: 0 0 20px 20px;
}

.twitter-subscribe-button:hover {
    background-color: #0d8ddb; 
}

.trendstext {
    display: flex;
    flex-direction: column;
    cursor: pointer;  
    background-color: rgb(0, 0, 0);
}

.trendstext:hover {
    background: rgb(10, 10, 10);
}

.tbox {
    margin: 30px 0 0 0;
    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid rgb(47, 51, 54);
}

.follow-section {
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid #2F3336;
    width: 400px;
    padding: 10px;
    margin: 30px 0 0 0;
    color: white;
}

.follow-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.follow-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.follow-profile:hover{
    background: rgb(15, 15, 15);
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.profile-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.profile-username {
    display: block;
    font-size: 14px;
    color: #8899A6;
}

.follow-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    
}

.footer_section span{
    cursor: pointer;
   font-size: 13px;
   font-weight: 500;
   margin-right: 5px;
   color: #606060;
}

.footer_section span:hover {
    color: #606060;
    text-decoration: underline;
}

.footer_section{
    margin: 10px 0 100px 15px;
}

.for-you{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey ;
    color: white;
    overflow: hidden;
    
}

.for-you h1:last-child{
    margin: 0;
    border-left: 1px solid grey ;
    padding-left: 60px;
}

.post-tweet{
    border-bottom: 1px solid grey;
    height: 15vh;
}

.write-section{
    margin: 40px 0 0 30px;
    
}

.interact{
    margin: 50px 0 0 60px ;
}

.interact-icon{
    margin: 0 5px;
    height: 28px;
    width: 28px;

}

.post-btn{ 
    margin: 0 0 0 250px;
    height: 50px;
    width: 100px;
    background-color: #0f4e78; 
    color: #999999; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 25px; 
    border: none; 
    cursor: pointer;
    font-weight: 900;
}

.profile-pic-twt{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 15px 0 0 0;
}

.fix{
    display: flex;
}

.npc-posts{
    margin-left: 50px;
}

.npctxt{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.profile-txt{
    display: flex;

}

.tprofile-name{
     color: white;
}

.tprofile-name:hover{
    text-decoration: underline;
}

.profile-info{
    color: #606060;
   
}

.twt-txt{
    color: white;
}

.twt-img{
    border-radius: 25px;
   
}

