
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white; 
}

.heading {
    font-size: 25px;
    font-stretch: ultra-condensed;
    font-weight: 800;
    margin: 10px;
}

.mdtxt {
    font-size: 20px;
    margin: 0 0 0 10px;
    font-weight: 600;
}

.smtxt {
    font-size: 14px;
    margin: 0 0 0 20px ;
    font-weight: 500;
    color: rgb(89, 93, 96);
    
}

.smtxt:last-child {
    margin-bottom: 10px;
}

.show-more {  
    font-size: 18px;
    
    font-weight: 500;
    color: rgb(29, 155, 240);
    cursor: pointer;
    text-decoration: none;
    padding:  10px 10px 10px 10px ;
    margin: 0 0 15px 0 ;
   
}

.show-more:hover{
    background-color: #0a0a0a
}

.mainbody {
    display: flex;
    height: 100%;
    width: 100%;
}

.home { 
    background-color: black;
    width: 30vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
    padding-left: 9vw;
    border-right: 1px solid #2f3336;
}

.tweets {
    background-color: black;
    width: 59vw;
    height: 100vh;
    margin-left: 30vw; 
    z-index: 0;
    
}

.feed {
    background-color: black;
    width: 69vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    
}
.border-fix{
    border-right: 1px solid #2f3336;
}

.category-section {
    overflow: hidden;
}

.category {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 8px 0 8px;
    font-size: 23px;
    font-weight: 500; 
    margin:  0 0 3px 0;
}

.category-text {
    display: flex;
    width: fit-content;
    border-radius: 25px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin:  0 0 5px 0 ;
    padding: 5px 15px 5px 5px;
}

.category-text:hover {
    background-color: #181818;
}

.icon {
    fill: white;
    height: 30px;
    width: 30px;
    margin: 5px 15px 5px 10px;
}

.xicon{
    height: 35px;
    width: 35px;
    margin: 10px 1px 10px 10px;
}

.xicon:hover{
    background-color: #181818;
    
}

.twitter-button { 
    height: 60px;
    width: 270px;
    background-color: #1DA1F2; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 30px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: 700;
    margin: 15px 0 0 10px;
}

.icon-test{
    width: fit-content;
    border-radius: 20px;
}

.icon-test:hover{
    background-color: #71767b;

}

.twitter-button:hover {
    background-color: #0d8ddb; 
}

.test {
    margin: 0 0 0 100px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-left: 10px;
    padding: 10px 0 10px 10px;
    border: none; 
    cursor: pointer; 
    border-radius: 30px; 
    transition: background-color 0.3s;
    width: fit-content;
}

.profile-blue{
    fill:#ffffff ;
    display: flex;
    margin:  0 0 0 100px;
}

.profile-container:hover {
    background-color: rgb(55, 58, 60);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.hprofile-name{
    display: flex;
    font-size: 20px;
}

.name-icon{
    margin:  5px 0 0 0;
    fill: white;
    height:20px;
    width:20px;

}

.profile-username {
    color: #888;
}

.search-container {
    padding: 6px 0 0 0 ;
    height: 50px;
    background-color: #000000;
    position: fixed; 
}

.search-box {
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(32, 35, 39);
    display: flex;
    align-items: center;
}

.search-box input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ccc;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

.search-box input::placeholder {
    color: #777;
}

.search-icon{
    background-color: #202327;
    height: 25px;
    width: 25px;
}

.premium {
    margin: 70px 0 0 0;
    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid rgb(47, 51, 54);
}

.premium-text {
    width: 360px;
    font-size: medium;
    line-height: 25px;
    margin: 0 10px 10px 20px;
}

.twitter-subscribe-button{
    height: 40px;
    width: fit-content;
    background-color: #1DA1F2; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 17px; 
    border-radius: 25px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: 900;
    margin: 0 0 20px 20px;
}

.twitter-subscribe-button:hover {
    background-color: #0d8ddb; 
}

.trendstext {
    width: 395px;
    display: flex;
   justify-content: space-between;
    cursor: pointer;  
    background-color: rgb(0, 0, 0);
    margin: 0 0 5px 0;
}

.trendstext:hover {
    background: #0a0a0a;
}

.tbox {
    margin: 30px 0 0 0;
    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid #2f3336;
}

.follow-section {
    height: fit-content;
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid #2F3336;
    width: 400px;
    padding: 0px;
    margin: 30px 0 0 0;
    color: white;
}

.follow-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.follow-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding:  0 5px 0 5px ;
    margin-left: 5px;
}

.follow-profile:hover{
    background: rgb(15, 15, 15);

}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.profile-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.profile-username {
    display: block;
    font-size: 14px;
    color: #8899A6;
}

.follow-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    
}

.footer_section span{
    cursor: pointer;
   font-size: 13px;
   font-weight: 500;
   margin-right: 5px;
   color: #606060;
}

.footer_section span:hover {
    color: #606060;
    text-decoration: underline;
}

.footer_section{
    margin: 10px 0 100px 15px;
}

.for-you{
    height: 60px;
    width: 673px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #2f3336 ;
    color: white;
    position: fixed;
}

.fyp{
padding:  0 120px 0 129px;
background-color: #000000e6;
-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
 
}

.fyp:hover{
    background-color: #222222;
}

.fyp h1{
    margin: 18px 0 0 0;
    font-size: 20px;
   
    border-bottom: 5px solid #1DA1F2;
    padding-bottom: 14px;
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 4px;
}

.fyp h2{
    padding: 0 13px 0 0;
    color: #656565;
    margin: 20px 0 0 0;
    font-size: 20px;
}

.post-tweet{
    border-bottom: 1px solid #2f3336;
    height: 20vh;
}

.write-section{
    
    margin: 0px 0 0 30px;
    padding:  80px 0 0 0;
    
}

.interact{
    margin: 10px 0 0 60px ;
}

.interact-icon{
    fill: #1d9bf0;
    padding: 5px;
    height: 35px;
    width: 35px;
}

.interact-icon:hover{
    background-color: #0a171f;
    border-radius: 50%;

}

.interact-pin{
    fill: #0f4e78;
    margin: 0 5px 0 5px ;
    height: 28px;
    width: 28px;
}

.post-btn{ 
    margin: 0 0 0 240px;
    height: 40px;
    width: 80px;
    background-color: #0f4e78; 
    color: #7d7d7d; 
    padding: 8px 10px; 
    font-size: 15px; 
    border-radius: 25px; 
    border: none; 
    cursor: pointer;
    font-weight: 900;
}

.profile-pic-twt{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 15px 0 0 0;
}

.fix{
    display: flex;
    margin-left: 40px;
}

.npc-posts{
    border-bottom: 1px solid#2f3336;
}
.npc-posts:hover{
    background-color: #060606;
}

.npctxt{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.profile-txt{
    display: flex;

}

.tprofile-name{
     color: white;
     font-size: 20px;
     margin: 10px 0 0 0;
}

.tprofile-name:hover{
    text-decoration: underline;
}

.profile-info{
    margin: 10px 0 0 0;
    color: #606060;
    font-size: 20px;
   
}

.twt-txt{
    color: white;
    font-size: 20px;
    margin:  10px 0 0 0;

}

.npc-img{
    margin-left: 90px;
}

.twt-img{
    border-radius: 25px;
   margin:  10px 20px 0 0;
   width: 55vh;

}

.tweet-interacts{
    display: flex;
    margin:  10px 0 5px 80px;
    color: #71767b;
    cursor: pointer;
    
}

.post-blue{
    fill:#71767b ;
    color: #71767b;
     margin: 0 0 0 260px;
    display: flex;
}

.post-blue:hover{
    fill: #1d9bef;
    color: #1d9bef;
}

.post-blue svg:hover{
    background-color: #0a171f;
    border-radius: 50%;
}

.blue{
    fill:#71767b ;
    color: #71767b;
     margin-right: 60px;
    display: flex;
}

.blue:hover{
    fill: #1d9bef;
    color: #1d9bef;
}

.blue svg:hover{
    background-color: #0a171f;
    border-radius: 50%;
}

.pink{
    fill:#71767b ;
    color: #71767b;
     margin-right: 60px;
    display: flex;
}

.pink:hover{
    fill: #f91880;
    color: #f91880;
}

.pink svg:hover{
    background-color: #200914;
    border-radius: 50%;
}

.green{
    fill:#71767b ;
    color: #71767b;
     margin-right: 60px;
    display: flex;
}

.green:hover{
    fill: #00ba7c;
    color: #00ba7c;
}

.green svg:hover{
    background-color: #071a14;
    border-radius: 50%;
}

.corner{
    display:flex;
   
} 

.corner-blue{
    fill:#71767b ;
    display: flex;
    margin:  0 0 0 0;
    padding: 10px;
    height:40px;
    width:40px;
}

.corner-blue:hover{
    fill: #1d9bef;
    background-color: #0a171f;
    border-radius: 50%;
}

.interact-btns{
    
    padding: 10px;
    height:40px ;
    width:40px ;
    cursor: pointer;
}


.interact-txt{
    margin:  10px 0 0 0;
    cursor: pointer;
   font-size: 15px;
}


.input-container {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 10px 0 0 0 ;
    border-radius: 25px;
    width: 400px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.input-box {

    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ccc;
    font-size: 16px;
}

.input-box::placeholder {
    font-size: 25px;
    color: #575757;
}

.trend-blue{
    fill:#71767b ;
    color: #71767b;
     margin: 0 0 0 0;
    display: flex;
    align-items: center;
    padding:  0 25px 0 0;
}

.trend-blue:hover{
    fill: #1d9bef;
    color: #1d9bef;
}

.trend-blue svg:hover{
    background-color: #0a171f;
    border-radius: 50%
}

.trend-fix{
    display: flex;
    flex-direction: column;
}

.trend-btns{
    margin: 0 0 0 0;
    height:22px ;
    width:22px ;
    cursor: pointer;
}

.header-responsive{
    display: none;
}

.fyp-fix{
    display: flex;
}

.responsive-footer{
    display: none;
}

.responsive.btn{
    display: none;
}

